body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 2rem;
  padding-bottom: 5px !important;
  /* padding-top:5px !important; */
}

.subheading {
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-size: 3rem;
  /* padding-bottom: 50px !important; */
  text-align: center;
  /* padding-top:5px !important; */
  margin: 0 !important;
}

.date{
  font-size: 1rem;
  /* padding-bottom: 20px !important; */
  text-align: center;
  font-family: sans-serif;
}

.chartBackground {
  /* background-color: white; */
  height: 30vh;
}

.spacing {
  padding-top: 0 !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-bottom: 0 !important;
}

.inputBar {
  margin-right: 5px !important;
}

.searchBar {
  padding-bottom: 0 !important;
}

.headerBackground {
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem !important;
  padding: 0;
  margin: 0
}

.loading {
  position: absolute;
  left: 40%;
  right: 50%;
}

.ui.center.aligned.header, .ui.centered.header {
  text-align: center;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.landingPageSearch {
  height: 90vh;
  /* background-color: rgb(241, 239, 239); */
  background-image: url('img/background.png');
  margin: auto 0;
  padding-top: 60px;
}

.todaysBriefing {
  padding-top: 20px;
}

.arrow {
  padding-top: 200px;
  /* padding-left: 50px; */
  /* padding-right: 50px; */
  padding-bottom: 0;
}

.extension {
  padding-left: 40%;
  padding-right: 40%;
}

.articleBackground {
  background-color: rgb(243, 243, 243);
}

.bubbleWrapper {
  height: 500px;
	width: 100%;
	z-index: 100;
}

.storyCard{
  max-height: 480px !important;
}

.storyCardBackPage{
  max-height: 480px !important;
}

#bubbleWrapperWrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.tweets {
  position: relative;
  max-height: 100%;
  overflow: auto;
  height: 940px;
}
