body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#datamap-container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 100vh
}

.logo {
  font-family: 'Abril Fatface', cursive;
  color: white;
  font-size: 2rem;
}

.searchButton {
  margin-top: 500px
}

.landingPageBackground {
  background-color: black
}

.chartBackground {
  background-color: white;
}

.spacing {
  padding: 0 !important
}

.headerBackground {
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem !important;
  padding: 0;
  margin: 0
}
